<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WWGUI"
        tools:targetApi="31">
        <activity
            android:name=".takeInPlayerScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".RoleSelectionActivity"
            android:label="Assign Roles"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:exported="true">
        </activity>

        <!-- PlayerActionActivity: Where players perform actions -->
        <activity
            android:name=".PlayerActionActivity"
            android:label="Player Actions"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:exported="true">
        </activity>

        <activity
            android:name=".EndNightActionsActivity"
            android:label="Info screen after night concludes"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:exported="true">
        </activity>

        <activity
            android:name=".DaytimeActionsActivity"
            android:label="Kill a player in the daytime vote"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:exported="true">
        </activity>
    </application>

</manifest>